@page "/fetchdata"
@using Periodic.Shared
@inject HttpClient Http
@inject IModalService modal

<PageTitle>Element information</PageTitle>

<h1>@AtomicNumber</h1>

<p>Masse greier om grunnstoffet da.</p>



@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public int? AtomicNumber { get; set; }
}